.page-content {
    display: flex;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.page-header {
    height: 60px;
}

.btn:active, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.main-nav_box {
    margin: 10px;
}

.main-nav_link {
    color: #fff;
    font-weight: 600;
    border-right: none;
    border-bottom: 0.5px solid #003CC5;
    border-top: 0.5px solid #003CC5;
    background: #0B63F6;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: .2s linear;
}

.main-nav_link:hover {
    box-shadow: 0px -6px 0 #003CC5 inset;
}

.main-nav_start {
    margin-right: 0px !important;
    border-radius: 0px !important;
    border-left: 0.5px solid #003CC5 !important;
    border-bottom-left-radius: 10px !important;
}

.main-nav_one {
    margin-right: 0px !important;
    border-radius: 0px !important;
    border-left: 0.5px solid #003CC5 !important;
    border-right: 0.5px solid #003CC5 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.main-nav_center {
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: 0px !important;
    border-left: 2px solid #003CC5 !important;
}

.main-nav_end {
    margin-left: 0px !important;
    border-radius: 0px !important;
    border-bottom-right-radius: 10px !important;
    border-left: 2px solid #003CC5 !important;
    border-right: 0.5px solid #003CC5 !important;
}

.main-nav_list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.main-nav_item {

}
